:root{
    --orange:#e67e22;
    --black:#333;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --seconde-color: #eee;
}

*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    font-weight: lighter;
    transition: 0.4s;
    font-size: 1.7rem;
    font-family: poppins, sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--black);
}

section{
    padding:2rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background:var(--black);
    color:#fff;
    border-radius: .5rem;
    padding:.9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--orange);
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: var(--black);
    box-shadow: var(--box-shadow);
    display: flex;
    color: #eee;
    align-items: center;
    padding:1.2rem 7%;
}

.header .logo{
    color:#eee;
    font-size: 2.5rem;
    margin-right: auto;
}

.header .logo span{
    font-weight: bold;
    font-size: 2.5rem;
}

.header .navbar a{
    color:var(--light-color);
    margin-right: 2rem;
    text-transform: capitalize;
}

.header .navbar a:hover{
    color: white;
}

.header .icons i{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    color:var(--black);
    background:var(--seconde-color);
    border-radius: 50%;
    border: 2px solid var(--seconde-color);
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.header .icons i:hover{
    color:#fff;
    background:var(--black);
}

.header .search-form a{
    color: var(--seconde-color);
    font-size: 1.7rem;
    margin: 5px auto;
}

.header .search-form a:hover{
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.header .search-form{
    position: absolute;
    background:var(--black);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    top:110%; right:7%;
    width:50rem;
    padding:1rem;
    display: none;
}

.header .search-form.active{
    display: flex;
    flex-direction: column;
}
.header .search-form.active p{
    font-size: 1.7rem;
}

.header .search-form #search-box{
    width:100%;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.7rem;
    color:var(--black);
    height: 100%;
}

.header .search-form label{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: .5rem;
    cursor: pointer;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--seconde-color);
}

#menu-bars{
    display: none;
}

.banner{
    min-height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 8rem;
}

.banner .content{
    text-align: center;
    padding:3rem;
}

.banner .content h1{
    font-size: 5rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.banner .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1.5;
}

.banner .content i,
.banner .content span{
    font-size: 1.6rem;
    color: var(--seconde-color);
}

.container-articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    background:#eee;
}


.container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:rgba(255, 255, 255, 0.966);
}

.container .posts-container .post,
.container-articles .posts-container .post
{
    width:100%;
    padding:2rem;
    background:#fff;
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.container .posts-container .post .image,
.container-articles .posts-container .post .image
{
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.container .posts-container .post .date,
.container-articles .posts-container .post .date
{
    padding-top: 2rem;
    font-size: 1.5rem;
}

.container .posts-container .post .title,
.container-articles .posts-container .post .title
{
    padding-top: 1.5rem;
    font-size: 2.5rem;
    color:var(--black);
}

.container .posts-container .post .text,
.container-articles .posts-container .post .text
{
    color:var(--black);
    font-size: 1.7rem;
    line-height: 1.7;
    padding:1rem 0;
    text-align: justify;
}

.container .posts-container .links,
.container-articles .posts-container .links
{
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.container .posts-container .links .user,
.container-articles .posts-container .links .user
{
    margin-right: auto;
}

.container .posts-container .comments{
    margin-top: 35px;
}



.container .posts-container .comments h3,
.container .posts-container .comments-users h3{
    font-size: 20px;
    font-weight: bold;
}

.container .posts-container .comments-users h4{
    font-size: 17px;
    font-weight: 600;
}

.container .posts-container .comments-users span{
    font-size: 16px;
}

.container .posts-container .comments-users p{
    font-size: 1.7rem;
}

.container .posts-container .com-u{
    background-color: var(--seconde-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 10px auto;
}

.container .posts-container .com-u p{
    text-align: justify;
}

.container .posts-container .com-u span.reponse{
    text-align: right;
    font-weight: 500;
}

.container .posts-container .com-u ul.reponse{
    margin-left: 40px;
    display: none;
    transition: 0.5s;
}

.container .posts-container .com-u ul.active{
    display: block;
    transition: 0.5s;
}

.container .posts-container .com-u .ouvrir-com{
    font-size: 1.6rem;
}

.container .posts-container .com-u .ouvrir-com:before{
    content: 'Lire les reponses';
    cursor: pointer;
    transition: 0.5s;
}
.container .posts-container .com-u .activer:before{
    content: 'Fermer les reponses';
    transition: 0.5s;
}

.container .posts-container .com-u ul li{
    list-style-type: none;
}

.container .posts-container .comments input,
.container .posts-container .comments .commentaire textarea
{
    padding: 10px 5px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    margin: 10px auto;
    width: 100%;
}

.container .posts-container .comments input[type='submit']:hover{
    background-color: var(--black);
    color: #eee;
    font-weight: bold;
}

.container .posts-container .links .icon,
.container-articles .posts-container .links .icon
{
    padding-right: 1rem;
}

.container .posts-container .links a,
.container-articles .posts-container .links a
{
    font-size: 1.5rem;
    color:var(--light-color);
}

.container .posts-container .links a i,
.container-articles .posts-container .links a i
{
    padding-right: .2rem;
    color:var(--black);
}

.container .posts-container .links a:hover,
.container-articles .posts-container .links a:hover
{
    font-weight: bold;
}

.container .posts-container .links a:hover i,
.container-articles .posts-container .links a:hover i
{
    font-weight: bold;
}

.container .sidebar .box{
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    margin-bottom: 1.5rem;
}

.container .sidebar .box .title{
    padding:1.5rem;
    font-size: 2rem;
    color:var(--black);
    background:var(--seconde-color);
    text-transform: capitalize;
}

.container .sidebar .box .about{
    text-align: center;
    padding:1rem 1.5rem;
}

.container .sidebar .box .about img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin:1rem 0;
}

.container .sidebar .box .about h3{
    color:var(--black);
    font-weight: bold;
    font-size: 2rem;
}

.container .sidebar .box .about p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.5;
    padding:1rem;
}

.container .sidebar .box .about .follow{
    padding:1rem 0;
}

.container .sidebar .box .about .follow a{
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    background:var(--black);
    color:#fff;
    font-size: 1.7rem;
    margin:0 .1rem;
}

.container .sidebar .box .about .follow a:hover{
    background:none;
    color: var(--black);
}

.container .sidebar .box .category{
    padding:1rem 1.5rem;
}

.container .sidebar .box .category a{
    padding:.4rem 0;
    font-size: 1.7rem;
    color:var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .sidebar .box .category a span{
    background:var(--light-color);
    border-radius: .5rem;
    padding:.5rem;
}

.container .sidebar .box .category a:hover,
.container .sidebar .box .category a:hover span{
    font-weight: bold;
}

.container .sidebar .box .p-post{
    padding:1rem 2rem;
}

.container .sidebar .box .p-post a{
    padding:1rem 0;
    display: block;
}

.container .sidebar .box .p-post a h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.container .sidebar .box .p-post a span{
    color:var(--light-color);
    font-size: 1.5rem;
}

.container .sidebar .box .p-post a span i{
    padding-right: .2rem;
}

.container .sidebar .box .p-post a:hover h3{
    font-weight: bold;
}

.container .sidebar .box .tags{
    padding:1rem;
}

.container .sidebar .box .tags a{
    display: inline-block;
    padding:1rem 1.5rem;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    margin:.5rem;
}

.container .sidebar .box .tags a:hover{
    background:var(--black);
    color:#fff;
}

.newsletter{
    text-align: center;
    padding:5rem 1rem;
    background:var(--black);
    background-size: cover;
    background-position: center;
}

.newsletter h3{
    color:#fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.newsletter p{
    color:#fff;
    font-size: 1.6rem;
    margin:2rem auto;
}

.newsletter form{
    display: flex;
    max-width: 70rem;
    border:.2rem solid #fff;
    padding:.5rem;
    border-radius: 5rem;
    margin:2rem auto;
    height:5.5rem;
}

.newsletter form input[type="email"]{
    padding:0 2rem;
    background:none;
    width:100%;
    color:#fff;
    text-transform: none;
    background:none;
}

.newsletter form input[type="email"]::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.newsletter form input[type="submit"]{
    background:var(--seconde-color);
    width:20rem;
    border-radius: 5rem;
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
    color: var(--black);
    background-color: white;
}

.footer{
    padding-top: 3rem;
    background: var(--black);
    background-size: cover;
    background-position: center;
    color: #eee;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}

.footer .box-container .box p{
    padding:.5rem 0;
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
    color: #fff;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#fff;
    color:var(--seconde-color);
    height:3.5rem;
    width:3.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
    border-top: .1rem solid var(--seconde-color);
    padding:2.5rem 1rem;
    text-align: center;
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem;
    }

    section{
        padding:2rem;
    }    

    .container{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: inline-block;
    }

    .header .search-form{
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        width: 100%;
        border-radius: 0;
    }

    .header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;        
        display: none;
    }

    .header .navbar.active{
        display: block;
    }

    .header .navbar a{
        display: block;
        background:#f7f7f7;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: .5rem;
        border:var(--border);
    }

    .container{
        grid-template-columns: 1fr;
        gap:0;
    }

    .container .posts-container .post .image{
        height: 30rem;;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}